img{
  margin-left: 60px;
  width:  25%;
  height: 25%;
}

p{
  font-size: 40px;
  letter-spacing: 0.2em;
}

.keyon{
  color: lightblue;
  text-shadow: white 0 0 2px;
}

.keyoff{
  color: lightblue;
  opacity: 0.2;
}