@import url('https://fonts.googleapis.com/css?family=Mystery+Quest&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Ovo&display=swap');

body{
  color: white;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-origin: border-box;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url('/img/background.png');
  font-family: 'Ovo', ;
}

h1, h2, h3{
  font-family: 'Mystery Quest';
}

h1{
  padding-top: 10px;
  color: darkblue;
  text-shadow: white 0px 0px 2px, #FEFCD7 0px 0px 3px;
  text-align: center;
}

h2{
  text-shadow: black 0 0 3px;
}